<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
      <%= f.label "Item Name" %><br />
      <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Purchase Price"%><br />
    <%= f.text_field :purchase_price%>
</div>
<div class="field">
    <%=f.label "Transaction ID"%><br />
    <%=f.text_field :transaction_id%>
</div>
  <div class="field">
      <%= collection_select(:item, :status_id, @statuses, :id, :name)%>
  </div>
  <div class="field">
      <%= f.label "Weight (in grams)"%><br />
      <%= f.text_field :weight%>
  </div>
  <div class="field">
      <%= collection_select(:item, :department_id, @departments, :id, :name)%>
  </div>
  <div class="field">
      <%= f.label "Condition (1 to 5)" %><br />
      <%= f.text_field :condition %>
  </div>
  <div class="field">
      <%= f.label "Condition Notes" %><br />
      <%= f.text_area :condition_notes %>
  </div>
  <div class="field">
      <%= f.label :retail_price%><br/>
      <%= f.text_field :retail_price%>
  </div>


  <%if @item.status_id==5%>
    <div class="field">
        <%= f.label :sold_price %><br />
        <%= f.text_field :sold_price%>
    </div>
    <div class="field">
        <%=  f.label :sold_date %><br />
        <%= f.date_select :sold_date %>
    </div>
    <div class="field">
        <%= f.label :shipping_charge %><br />
        <%= f.text_field :shipping_charge %>
    </div>
    <div class="field">
        <%= f.label :shipping_paid %><br />
        <%= f.text_field :shipping_paid %>
    </div>
  <%end%>

  <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
