<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>
<div class="field">
    <%= f.label "Item Name" %><br />
    <%= f.text_field :name %>
</div>

<div class="field">
    <%= collection_select(:item, :status_id, @statuses, :id, :name)%>
</div>
<div class="field">
    <%= f.label "Weight (in grams)"%><br />
    <%= f.text_field :weight%>
</div>
<div class="field">
    <%= collection_select(:item, :department_id, @departments, :id, :name)%>
</div>
<div class="field">
    <%= f.label "Purchase Price"%><br />
    <%= f.text_field :purchase_price%>
<div class="field">
    <%=f.label "Purchase Date"%><br/ >
    <%=f.date_select :purchase_date%>
</div>
<div class="actions">
    <%= f.submit %>
</div>
<% end %>
