
<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>
Item#<%= @item.id%>
<br />
<%= @item.name%>
<br />
<br />

<div class="field">
    <%= f.label :brand %><br />
    <%= f.text_field :brand %>
</div>

<div class="field">
    <%= f.label :model %><br />
    <%= f.text_field :model %>
</div>
<div class="field">
    <%= f.label :model_number %><br />
    <%= f.text_field :model_number %>
</div>
<div class="field">
    <%= f.label :style %><br />
    <%= f.text_field :style %>
</div>
<div class="field">
    <%= f.label :color %><br />
    <%= f.text_field :color %>
</div>
<div class="field">
    <%= f.label :size %><br />
    <%= f.text_field :size %>
</div>
<div class="field">
    <%= f.label :width %><br />
    <%= f.text_field :width %>
</div>

<div class="field">
    <%= f.label :last %><br />
    <%= f.text_field :last %>
</div>
<div class="field">
    <%= f.label :upper_material %><br />
    <%= f.text_field :upper_material %>
</div>
<div class="field">
    <%= f.label :sole_material %><br />
    <%= f.text_field :sole_material %>
</div>
<div class="field">
    <%= f.label :heel_material %><br />
    <%= f.text_field :heel_material %>
</div>



<div class="field">
    <%= f.label :sole %><br />
    <%= f.text_field :sole %>
</div>

<div class="field">
    <%= f.label :heel %><br />
    <%= f.text_field :heel %>
</div>

<div class="field">
    <%= f.label :lining %><br />
    <%= f.text_field :lining %>
</div>

<div class="field">
    <%= f.label :insole %><br />
    <%= f.text_field :insole %>
</div>

<div class="field">
    <%= f.label :outsole_length %><br />
    <%= f.text_field :outsole_length %>
</div>
<div class="field">
    <%= f.label :outsole_width %><br />
    <%= f.text_field :outsole_width %>
</div>
<%= f.submit %>
  </div>
<% end %>
