<div class="field">
    <%= f.label :ebay_id %><br />
    <%= f.text_field :ebay_id %>
</div>
<div class="field">
    <%= f.label :listed_date %><br />
    <%= f.date_select :listed_date %>
</div>
<%if @item.status_id==5%>
<div class="field">
    <%= f.label :sold_price %><br />
    <%= f.text_field :sold_price%>
</div>
<div class="field">
    <%=  f.label :sold_date %><br />
    <%= f.date_select :sold_date %>
</div>
<div class="field">
    <%= f.label :shipping_charge %><br />
    <%= f.text_field :shipping_charge %>
</div>
<div class="field">
    <%= f.label :shipping_paid %><br />
    <%= f.text_field :shipping_paid %>
</div>
<%end%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
