<%if @item.department_id == 2 %>
    <h1>Neckwear Processing</h1>
    <%=render 'dept2' %>
    <%elsif @item.department_id == 3%>
    <h1>dress shirt processing</h1>
    <%= render 'dept3'%>
    
<%elsif @item.department_id == 5 %>
    <h1>Dress Shoes Processing</h1>
    <%= render 'dept5' %>
<%elsif @item.department_id == 9%>
    <h1>Jacket Processing</h1>
    <%= render 'dept9' %>

<%elsif @item.department_id == 10%>
    <h1>Suit Processing</h1>
    <%= render 'dept10' %>

<%elsif @item.department_id == 11%>
    <h1>Outerwear Processing</h1>
    <%= render 'dept11' %>
    <%elsif @item.department_id ==13%>
    <h1>sweater processing</h1>
    <%= render 'dept13' %>
    <%elsif @item.department_id ==15%>
    <h1>handmade processing</h1>
    <%= render 'dept15' %>

    <%end%>

<%= link_to 'Show', @item %> |
<a href="/items/list/status/processing">Processing List</a>