
<p id="notice"><%= notice %></p>
<a href="/list/processing">Processing List</a> | <a href="/list/photographs">Photographs List</a> | <a href="/list/listing">eBay List</a> | <a href="/ebay/<%=@item.id%>">eBay Template</a>
<br />
<b>ID: </b><%= @item.id %>
<br />
<b>Name: </b><%= @item.name %>
<br />
<b>Transaction ID: </b><%= @item.transaction_id ? (link_to @item.transaction_id, transaction_path(@item.transaction_id)) : "Not Defined" %>
<br />
<b>Status: </b><%=@item.status.name.titleize%>
<br/>
<a target="_blank" href="/products/show/<%=@item.id%>"><img width="150px" src="/assets/<%=@item.id%>/0.jpg" alt="preview" /></a>
  <br /><br />

  <br />
  <%= link_to 'New Item', new_item_path%> | 
<a href="/ebay_listings/new/item_id/<%=@item.id%>">Create eBay Listing</a> |
<%= link_to 'Edit', edit_item_path%> |
<a href="/items/<%=@item.id%>/processing">Processing</a> |
<%= link_to 'Retail', retail_item_path%> |
<%= link_to 'Back', items_path %>
</p>
