<h1>items pending <%=params[:name]%></h1>

<table border=1px>
    <tr style="border:1px solid #000">
    <th>ID</th>
    <th>Name</th>
    <th>List Count</th>
    <th>List on eBay</th>
    <th></th>
    <th></th>
  </tr>

  <% @items.each do |item|%>
    <tr>
    <td><%= item.id %></td>
    <td><%= item.name %></td>
    <td><%= EbayListing.find_all_by_item_id(item.id).count%></td>
    <td><a href="/ebay_listings/new/item_id/<%=item.id%>">Create eBay Listing</a></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_item_path %>
