	<article class="show_product">
        <%= render 'detail_photos_nav'%>
        <%= render 'main_photo'%>
    	
        <div class="product_description">
            <%= render 'main_details'%>
            <%= render 'promotional_details'%>
            <%= render 'product_details'%>
            <%= render 'how_to_buy'%>
    	</div>
        <%= render 'terms'%>
	</article>

