<div class="main">
    <header class="page_title">
    <h1>
	<%if @category=="recent"%>
	    latest 25 items
	<% else %>
	    Clothing > Men's > <%=@category%>
	<%end%>
  </header>

  <article class="products_list">
    <% @items.map do |i| %>
      <div class="products_list_img">
	  <a href="/products/show/<%=i.id%>">
            <img src="/assets/<%=i.id%>/0.jpg" />
          </a>
       <div class="products_list_desc">
          <br />
          <br />
          <%=i.product_brand.upcase unless i.product_brand.nil?%>
          <br />
          <b><%=i.product_description.titleize unless i.product_description.nil?%> - <%=i.product_size%></b>
          <br />
          <%=number_to_currency(i.retail_price, :unit => "$", :precision => 0)%>
        </div>
      </div>
      <%end%>
  </article>
</div>
